<style>
.blinking{
    animation:blinkingText 5s infinite;
}
@keyframes blinkingText{
    0%{     color: blue;    }
    10%{     color: pink;    }
    20%{    color: green; }
    30%{    color: red; }
    40%{    color: white; }
    50%{    color: brown; }
    60%{    color:yellow;  }
    70%{    color:black;  }
    80%{   color: purple;    }
    90%{    color: beige;  }
}
</style>

<html>
<body style="background: powderblue; font-size:30px"><center>

<% if @countdown == 0 %>
<h1 style="font-size:100px; color:blue"><span class="blinking">Happy Birthday <%= @name %>! You are <%= @age %> today!</span></h1>
<iframe src="https://giphy.com/embed/xT8qB6yf3ZmoDscN7a" width="480" height="263" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<% else %>
<h1>Hi <%= @name %>! Your Birthday is the <%= @day %> of <%= @month %> </h1>
<h2 style="font-size:100px">Your Birthday is in <%= @countdown %> days </h2>
<h3 style="font-size:70px">You will be <%= @age %> years old </h3>
<% end %>
</center></body>
</html>
